main {
    margin: 20px 40px;
}
form[name="searchingGitForm"] input{
    width: 100%;
}
hr {
    width: 100%;
}
input {
    border: none;
}
.userInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
}
.userInfo>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.property {
    display: flex;
    justify-content: space-between;
}